%ul.nav.nav-list
  %li.nav-header For Customers:
  %li.nav-header For Employers:
  = link_to 'Register a new company', new_company_path, class: 'btn btn-success'

  %li.divider
  = link_to 'Register as an employee', '', class: 'btn'